        {{ printf `<!-- head contiene elementi che non vengono visualizzati in pagina -->`  | safeHTML }}

        {{ printf `<!-- Indica il tipo di contenuti -->`  | safeHTML }}
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />

        {{ printf `<!-- La 'viewport' e' l'area di una pagina web visibile agli utenti. Su
                dispositivi mobile, quest'area viene scalata per adattarsi allo schermo. -->` | safeHTML }}
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        {{ printf `<!-- Un piccolo CSS che non richiede classi CSS e che serve semplicemente
                ad abbellire il sito e renderlo adatto al mobile. -->` | safeHTML }}
        <link rel='stylesheet' href='https://cdn.jsdelivr.net/gh/kognise/water.css@latest/dist/dark.css'>

        {{ printf `<!-- highlightjs, a code syntax highlighting library -->` | safeHTML }}
        <link rel="stylesheet" href="http://cdn.jsdelivr.net/gh/highlightjs/cdn-release@9.15.9/build/styles/default.min.css">
        <script src="http://cdn.jsdelivr.net/gh/highlightjs/cdn-release@9.15.9/build/highlight.min.js"></script>
        <script>
            hljs.initHighlightingOnLoad();
        </script>

        {{ printf `<!-- Title and description -->` | safeHTML }}
        <title>
            {{- block "title" . -}}
                {{ if .IsHome }}{{ .Site.Title }}{{ else }}{{ .Title }}{{ end }}
            {{- end -}}
		</title>
        <meta name="description" content="{{ if .IsHome }}{{ .Site.Params.description }}{{ else }}{{ .Params.Description }}{{ end }}">

        <link rel="shortcut icon" href="{{ "favicon.ico" | relURL }}">